@media screen AND (max-width:576px) {
    /* LOGO */
    header nav figure {
        position: absolute;
        top: 0;
        left: 0;
    }
    header nav figure img {
        width: 6em;
        height: auto;
    }

    /* NAV */
    header nav a {
        text-decoration: none;
        font-weight: bold;
        color: #106ffc;
        display: block;
        position: absolute;
        top: 30px;
        right: 10px;
    }
    header nav ul {
        margin-top: 70px;
        display: flex;
        padding: 0;
    }
    header nav ul li {
        display: inline-block;
        text-align: center;
        list-style: none;
        flex: 0 0 50%;
    }
    header nav ul li a {
        color: #000000;
        font-weight: normal;
        border-bottom: 3px solid #f2f2f2;
    }
    header nav ul li a:active {
        color: #106ffc;
        border-bottom: 3px solid #0065fc;
    }
    header nav ul li a {
        position: initial;
        height: 100%;
        width: 100%;
    }

    /* FORM */
    #searchForm form {
        display: flex;
        width: 100%;
        height: 48px;
        text-align: center;
        border: 2px solid #f2f2f2;
        border-radius: 15px;
        background-color: #f2f2f2;
        display: inline-block;
    }
    #searchForm form input {
        line-height: 52px;
        text-indent: 10px;
        font-size: 1.5em;
        width: 310px;
    }
    #searchForm form > label, input, button {
       height: 95%;
       border: none;
    }
    #searchForm form label {
        margin: 0;
        padding: 0 15px;
        text-align: center;
        position: relative;
        top: -5px;
        left: 3px;
    }
    #searchForm form button span {
        display: none;
    }
    #searchForm form button {
        font-size: 1em;
        background-color: #0065fc;
        color: #FFF;
        border-radius: 15px;
        position: relative;
        height: 48px;
        right: 10px;
        top: -1px;
        width: 50px;
        line-height: 55px;
    }
    #searchForm form button i {
        position: relative;
        top: -3px;
        left: 2px;
    }
}